.app {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.headerMain {
  font-size: 32px;
  color: #222222;
}

.nav {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;
}